@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.board-header {
    @include flex-row;
    justify-content: start;
    padding-left: 56px;
    gap: 56px;
    width: 100%;
    background-color: rgb(85, 85, 85);
}

.board-lists {
    @include flex-row;
    align-items: start;
    justify-content: start;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 56px;
    padding: 56px;
    width: 100%;
    min-height: calc(100svh - 56px * 2 - 56px);
}