@import "../utils/variables.scss";
@import "../utils/mixins.scss";


.list {
    border: 1px solid $orange;
    border-radius: 5px;
    background-color: $dark-blue;
    min-width: 250px;
    max-width: 400px;
    // @include flex-column;   
}
.list-cards {
    min-height: 100px;
    div {
        min-height: 100px;
        min-width: 1px;
    }
}
